/* this is the style sheet cuz */
.top_header {
    overflow: hidden;
    background-color: #1f2937;
    padding: 20px 10px;
}
.top_header a {
    float: left;
    color: #f9faf8;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}
.top_header a.logo {
    font-size: 25px;
    font-weight: bold;
}
.top_header a:hover {
    background-color: #ddd;
    color: black;
}
.top_right {
    float: right;
}
.header_one{
    display:grid;
    text-align: left;
    background-color: #1f2937;
    padding: 50px;
}
.upper_text {
    grid-column-start: 1;
    grid-row-start: 1;
    font-size: 48px;
    color: #f9faf8; 
}
.header_sub {
    grid-column-start: 1;
    grid-row-start: 2;
    font-size: 18px;
    color: #e5e7eb;
}
.button{
    background-color: #3882f6;
    padding: 15px 32px;
    height: 75px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    grid-column-start: 1;
    grid-row-start: 3;
    cursor: pointer;
}
.button:hover {
    background-color: #ddd;
    color: black;
}
img {
    grid-column-start: 3;
    grid-row-start: 2;
    height: 150px;
    width: 250px;
    margin: auto;
    float: right;
}
.header_two {
    text-align: center;
}
.section_two {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    padding: 50px;
}
.box_one {
    font-size: small;
}
.box_two {
    font-size: small;
}
.box_three {
    font-size: small;
}
.box_four {
    font-size: small;
}
.quote_text {
    background-color: #e5e7eb;
    text-align: center;
    padding: 25px;
}